node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

.idea/
__pycache__/
*.pyc
appium-tests/screenshots/*.png
appium-tests/self_test_report.xlsx
key.env

selenium-tests/node_modules/
selenium-tests/screenshots/*.png
